@import "./bootstrap.scss";
@import "./helpers.scss";
@import "~bootstrap/scss/variables";

body {
  background-color: material-color('grey', '100');
}

.background-screen {
  height: 26rem;

  @include md {
    height: 22rem;
  }

  @include fhd {
    height: 40rem;
  }

  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
}

.background-screen-page {
  height: 26rem;

  @include md {
    height: 22rem;
  }

  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
}

.navbar {
  .navbar-brand {
    letter-spacing: .25rem;
    img {
      width: 3rem;

      @include fhd {
        width: 4rem;
      }
    }

    .toggle {
      @include fhd {
        --ggs: 1.5;
      }
    }
  }
}

$sidebar-width: 16rem;

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  transition: .4s;
  height: 100vh;
  z-index: 10;
  width: $sidebar-width;
  margin-right: -$sidebar-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sidebar-item {
    text-decoration: none;
    font-size: 16pt;
    color: material-color('grey', '900');
    @include md {
      font-size: 14pt;
    }
  }

  &.sidebar-toggled {
    margin-right: 0;
  }
}

#content-wrapper {
  transition: .4s;

  &.sidebar-toggled {
    margin-right: $sidebar-width;
    margin-left: -$sidebar-width;
  }
}

.jumbotron {
  .jumbotron-content {
    // background-color: #ffffff3a;
    background: rgb(245, 245, 245);
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.0760679271708683) 0%, rgba(245, 245, 245, 1) 100%);
    height: 100%;

    div {
      bottom: 0;
      margin-left: 4rem;
      width: 100%;
      margin-bottom: -2rem;

      @include md {
        margin-left: 1rem;
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: 40pt;
      text-shadow: 2px 2px 2px material-color('grey', '800');

      @include md {
        font-size: 25pt;
        text-shadow: 1px 1px 1px material-color('grey', '800');
      }
    }
  }
}

.sosmed {
  z-index: 10;

  a {
    color: material-color('grey', '800');
    border-radius: 50%;
    padding: .5rem;
    background-color: material-color('grey', '200');
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
}

img.img-cover {
  object-fit: cover;
}

.h-screen {
  height: 100vh;
}